
   body{
  text-align: center;
 
  background-image: url("wood.jpg");
  background-size: 1500px;
   border: 2px solid; 
   color: #f31212;
   /* font-family: 'Open Sans', sans-serif; */
   /* font-family: fantasy; */
    background-color:lightgreen;
}

