
   body{
   text-align: center;
   background-image: url("wood.jpg");
   background-size: 1500px;    
   color: #f0a966;
   /* font-family: 'Open Sans', sans-serif; */
   background-color:lightgreen;
}

